<!DOCTYPE html>
<html>
    <title>Project Challenge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 

    <div class="col-sm-12" style="margin-top: 3%;">
        <div class="col-sm-2">
        
        </div>
        <div class="col-sm-8">
        
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Enrollee ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Activation Status</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in enrollees">
                        <td>{{ x.id }}</td>
                        <td><input type="text" ng-model="x.name"></td>
                        <td><input type="text" ng-model="x['activation-status']"></td>
                        <td>{{ x.dob }}</td>
                        <td><button ng-click="update(x.id, x.name, x['activation-status'])">Update</button></td>
                      </tr>
                </tbody>
              
            </table>
        </div>
        <div class="col-sm-2">
        
        </div>
    </div>



</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("http://localhost:8083/api/user/get-enrollees")
    .then(function (response) {
        console.log(response);
        $scope.enrollees = response.data;
        $scope.update = function(en_id, name, activationStatus) {
            console.log(name);
            console.log(activationStatus);
            $http.put("http://localhost:8083/api/user/update-enrollee/" + en_id + "?name=" + name + "&activation-status=" + activationStatus)
            .then(function (innerResponse){
                console.log(innerResponse.data);
            })
        };
    });
});
</script>

</body>
</html>
